<!DOCTYPE html>
<html lang="en">
<head>
	<title>Amazing</title>
	<meta charset="UTF-8">
    <base href="https://nckh2022.herokuapp.com/"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../img/icons/panda.png"/>
<!--===============================================================================================-->

</head>
<body style="background-image: url('../img/giphy.gif');">
	
	
</body>
</html>